* {
    background-color: #97e7f5;
    font-family: "Quicksand", sans-serif;
}

nav ul {
    background-color: #009dd1;
    padding: 10px;
    margin: 5px;
}

nav a {
    text-decoration: none;
    background-color:#009dd1;
}

